<section  class="bg-grad9">
    <br>
    <h2 class="h3 block-title text-center">Update User<br/></h2>
    <div class="container">
      <div class="col align-self-center">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
          <div class="form-group row">
            <label for="inputname" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]="userData.username" name="uname" #ename="ngModel" required /><br/>
          </div>
        </div>
           
         
  
          <div class="form-group row">
            <label for="ename" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]="userData.firstname" name="fname" #ename="ngModel"
              required readonly/><br/>
          </div>
        </div>
         

          <div class="form-group row">
            <label for="ename" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]="userData.lastname" name="lname" #ename="ngModel"
               required readonly/><br/>
          </div>
        </div>  
  
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-5">
            <input type="email" class="form-control" [(ngModel)]="userData.email" name="email" #email="ngModel" required readonly /><br/>
          </div>
        </div>
          
  
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
            <input type="password" class="form-control" [(ngModel)]="userData.password" name="password" #password="ngModel"
              required /><br/>
          </div>
        </div>
          
            
  
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone number</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="userData.phone" name="phone" #ename="ngModel"
               pattern="[7-9]{1}[0-9]{9}" required /><br/>
              </div>
            </div>

            <div class="form-group row">
              <label for="city" class="col-sm-2 col-form-label">City</label>
              <div class="col-sm-5">
              <input type="text" class="form-control" [(ngModel)]="userData.city" name="city" #ename="ngModel"
                 required readonly /><br/>
            </div>
          </div>  
          <div class="form-group row">
            <label for="state" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]="userData.state" name="state" #ename="ngModel"
               required readonly/><br/>
          </div>
        </div>  
              
      
          <div class="form-group">
            <h4>
            <button (click)="updateUser()" [disabled]="!myForm.form.valid" type="button" class="btn btn-primary">
              Update User
            </button>
          </h4>
         
          </div>
       
        
          <div class="alert alert-danger" role="alert" *ngIf="submitted">
            Please fill all the fields
          </div>
        </form>
      </div>
    </div>
  </section>
