<div class="bg-grad9">
<div class="carousel slide" id="slider" data-ride="carousel">
    <!--indicators-->
    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/wedding.7.jpeg">
        <div class="carousel-caption">
         
        
        </div>
      </div>

  
      <div class="carousel-item" id="slide2">
        <img src="../../assets/img2.jpeg">
        <div class="carousel-caption">
          
        
        </div>
      </div>
      <div class="carousel-item" id="slide3">
        <img src="../../assets/party.jpeg">
        <div class="carousel-caption">
          
        
        </div>
      </div>

      <div class="carousel-item" id="slide4">
        <img src="../../assets/wedding.5.jpeg">
        <div class="carousel-caption">
          
        
        </div>
      </div>

      <div class="carousel-item" id="slide5">
        <img src="../../assets/wedding.8.jpeg">
        <div class="carousel-caption">
          
        
        </div>
      </div>
  
    </div>
    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      
    </a>
    <a class="carousel-control-next " href="#slider" role="button" data-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      
    </a>
  </div>
</div>