<!DOCTYPE html>
<html>

<body>
    <div class="row">
        <div class="column">
        <div class="card" style="width: 40rem;height:45rem ;">
    <img class="card-img-full" src="../assets/wedding.7.jpeg" alt="Card image cap" height="430px">
    <div class="card-body">
      <h5 class="card-title"><p class="text-center">SKM Hall</p></h5>
      <ul class="card-text">
        <li><b>Guest Capacity</b>: 1000-1500</li>
        <li><b>Hours</b>: 8 Hrs / 18Hrs<li>
        <li><b>Parking</b>: Available</li>
        <li><b>Price</b>: &#x20b9; 90000 (for 8hrs) /  200000(for 18hrs)</li>
        <li><b>Included</b>:Maintanance, EB Bills, Cooking Appliances  </li>
        <li><b>Excluding</b> :Catering, Decorations, Event Management</li> 
      </ul>
      <div class="text-center">
        <button (click)="skm()" class="btn btn-primary">Book Now</button>
     </div>
    </div>
  </div>
</div>
<div class="column">
  <div class="card" style="width: 40rem;height:45rem ;">
    <img class="card-img-top" src="../assets/party.jpeg" alt="Card image cap">
    <div class="card-body">
    
      <h5 class="card-title"><p class="text-center">AKM Party Hall</p></h5>
        <ul class="card-text">
            <li><b>Guest Capacity</b>: 300-500</li>
            <li><b>Hours</b>: 6 Hrs<li>
            <li><b>Parking</b>: Available</li>
            <li><b>Price</b>:&#x20b9;40000</li>
            <li><b>Included</b>:Maintanance, EB Bills </li>
            <li><b>Excluding</b> :Catering, Decorations, Cooking Appliances</li>
          </ul>
          <div class="text-center">
            <button (click)="akm()"  class="btn btn-primary">Book Now</button>
         </div>
    </div>
   </div>
  </div>
  </div>
  <div class="row">
    <div class="column">
    <div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-full" src="../assets/mini.jpeg" alt="Card image cap" height="430px">
<div class="card-body">
  <h5 class="card-title"><p class="text-center">RK Party Hall</p></h5>
  <ul class="card-text">
    <li><b>Guest Capacity</b>: 500-700</li>
    <li><b>Hours</b>: 6 Hrs<li>
    <li><b>Parking</b>: Available</li>
    <li><b>Price</b>:&#x20b9; 60000</li>
    <li><b>Included</b>:Maintanance, EB Bills, Cooking Appliances  </li>
    <li><b>Excluding</b> :Catering, Decorations, Event Management</li>
  </ul>
  <div class="text-center">
    <button (click)="rk()"  class="btn btn-primary">Book Now</button>
 </div>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-top" src="../assets/2b.jpeg" alt="Card image cap" height="430px">
<div class="card-body">

  <h5 class="card-title"><p class="text-center">JP Mini Hall</p></h5>
    <ul class="card-text">
        <li><b>Guest Capacity</b>: 100-300</li>
        <li><b>Hours</b>:  9 hrs<li>
        <li><b>Parking</b>:Not Available</li>
        <li><b>Price</b>:&#x20b9; 20000</li>
        <li><b>Included</b>:Maintanance </li>
        <li><b>Excluding</b> :Catering, Decorations</li>
      </ul>
      <div class="text-center">
        <button (click)="jp()"  class="btn btn-primary">Book Now</button>
     </div>
</div>
  
</div>
</div>
</div>
<div class="row">
  <div class="column">
  <div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-full" src="../assets/img1.jpeg" alt="Card image cap" height="430px">
<div class="card-body">
<h5 class="card-title"><p class="text-center">GH Mini Hall</p></h5>
<ul class="card-text">
  <li><b>Guest Capacity</b>: 200-500</li>
  <li><b>Hours</b>: 6 Hrs<li>
  <li><b>Parking</b>: Available</li>
  <li><b>Price</b>:&#x20b9; 40000 </li>
  <li><b>Included</b>:Maintanance, EB Bills  </li>
  <li><b>Excluding</b> :Decorations, Event Management</li>
</ul>
<div class="text-center">
  <button (click)="gh()" class="btn btn-primary">Book Now</button>
</div>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-top" src="../../assets/1c.jpeg" alt="Card image cap" height="430px">
<div class="card-body">

<h5 class="card-title"><p class="text-center">SSS Conference Hall</p></h5>
  <ul class="card-text">
      <li><b>Guest Capacity</b>: 100-200</li>
      <li><b>Hours</b>:  9 hrs<li>
      <li><b>Parking</b>:Not Available</li>
      <li><b>Price</b>: &#x20b9;20000</li>
      <li><b>Included</b>:Maintanance </li>
      <li><b>Excluding</b> :Catering, Decorations</li>
    </ul>
    <div class="text-center">
      <button (click)="sss()" class="btn btn-primary">Book Now</button>
   </div>

</div>
</div>
</div>
</div>
<div class="row">
  <div class="column">
  <div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-full" src="../../assets/wedding.8.jpeg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title"><p class="text-center">SG Party Hall</p></h5>
<ul class="card-text">
  <li><b>Guest Capacity</b>: 300-500</li>
  <li><b>Hours</b>: 6 Hrs<li>
  <li><b>Parking</b>: Available</li>
  <li><b>Price</b>: &#x20b9;65000 </li>
  <li><b>Included</b>:Maintanance, EB Bills  </li>
  <li><b>Excluding</b> :Decorations, Event Management</li>
</ul>
<div class="text-center">
  <button (click)="sg()" class="btn btn-primary">Book Now</button>
</div>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-top" src="../../assets/wedding.5.jpeg" alt="Card image cap">
<div class="card-body">

<h5 class="card-title"><p class="text-center">MSM Party Hall</p></h5>
  <ul class="card-text">
      <li><b>Guest Capacity</b>: 100-300</li>
      <li><b>Hours</b>:  9 hrs<li>
      <li><b>Parking</b>:Not Available</li>
      <li><b>Price</b>: &#x20b9;25000</li>
      <li><b>Included</b>:Maintanance </li>
      <li><b>Excluding</b> :Catering, Decorations</li>
    </ul>
    <div class="text-center">
      <button (click)="msm()" class="btn btn-primary">Book Now</button>
   </div>
</div>
</div>
</div>
</div>
<div class="row">
  <div class="column">
  <div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-full" src="../../assets/img3.jpeg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title"><p class="text-center">DK Wedding Hall</p></h5>
<ul class="card-text">
  <li><b>Guest Capacity</b>: 1200-1500</li>
  <li><b>Hours</b>:  8 Hrs / 18Hrs<li>
  <li><b>Parking</b>: Available</li>
  <li><b>Price</b>: &#x20b9;100000 (for 8hrs) /  &#x20b9;220000(for 18hrs)</li>
  <li><b>Included</b>:Maintanance, EB Bills, Cooking Appliances  </li>
  <li><b>Excluding</b> :Decorations, Event Management,Event Management</li>
</ul>
<div class="text-center">
  <button (click)="dk()" class="btn btn-primary">Book Now</button>
</div>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 40rem;height:45rem ;">
<img class="card-img-top" src="../../assets/img2.jpeg" alt="Card image cap" height="430px">
<div class="card-body">

<h5 class="card-title"><p class="text-center">DRJ Wedding Hall</p></h5>
  <ul class="card-text">
      <li><b>Guest Capacity</b>: 1000-1300</li>
      <li><b>Hours</b>:   8 Hrs / 18Hrs<li>
      <li><b>Parking</b>: Available</li>
      <li><b>Price</b>: &#x20b9;95000 (for 8hrs) / &#x20b9; 185000(for 18hrs)</li>
      <li><b>Included</b>:Maintanance, EB Bills, Cooking Appliances</li>
      <li><b>Excluding</b> :Catering, Decorations,Event Management</li>
    </ul>
    <div class="text-center">
      <button (click)="drj()" class="btn btn-primary">Book Now</button>
   </div>
</div>
</div>
</div>
</div>
  </body>
  </html>
